--extra-index-url https://download.pytorch.org/whl/cu130

torch
torchvision
langchain
langchain-core
langchain-huggingface
sentence-transformers
pypdf
transformers
accelerate
bitsandbytes
langchain-text-splitters
langchain_community
streamlit==1.57.0
python-dotenv